<h2 mat-dialog-title>{{film.Title}}</h2>

<mat-grid-list cols="2" rowHeight="1:1.4">
  <mat-grid-tile>
    <img src="{{film.Poster}}">
  </mat-grid-tile>

  <mat-grid-tile class="dialog-film-details">
    <div class="film-descr"><b>Title:</b> {{film.Title}}</div>
    <div class="film-descr"><b>Year:</b> {{film.Year}}</div>
    <div class="film-descr"><b>Runtime:</b> {{film.Runtime}}</div>
    <div class="film-descr"><b>Actors:</b> {{film.Actors}}</div>
    <div class="film-descr"><b>Plot:</b> {{film.Plot}}</div>
  </mat-grid-tile>
</mat-grid-list>

<mat-dialog-actions>
  <button mat-stroked-button (click)="close()">Close</button>
</mat-dialog-actions>
