<nav class="app-nav-container">

  <a aria-label="Home" class="docs-button mat-button" routerLink="/home">
    <span class="mat-button-wrapper">
      <mat-icon>home</mat-icon>
      <span>Home</span>
    </span>
    <div class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a aria-label="Search" class="docs-button mat-button" routerLink="/filmsearch">
    <span class="mat-button-wrapper">
      <mat-icon>dashboard</mat-icon>
      <span>Film search</span>
    </span>
    <div class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <a aria-label="List" class="docs-button mat-button" routerLink="/filmlist">
    <span class="mat-button-wrapper">
      <mat-icon>table</mat-icon>
      <span>Favorit Films list</span>
    </span>
    <div class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

  <div class="flex-spacer"></div>

  <a aria-label="Username" class="docs-button mat-button" routerlink="/user">
    <span class="mat-button-wrapper">
      <mat-icon>person</mat-icon>
      <span>User Name</span>
    </span>
    <div class="mat-button-ripple mat-ripple"></div>
    <div class="mat-button-focus-overlay"></div>
  </a>

</nav>
